/*
 * Beacon Config Sample File
 *
 * This file serves as a documentation of all configs.
 * Since valid JSON cannot contain comments do not use this
 * file as a proper conf file.
 *
 * This is the center of all Beacon customization.
 * As you can see it uses JSON for all settings.
 * Do not add any plugin settings here.
 * Use your own plugin.conf instead.
 *
 */

{
    // Complete URL of your Beacon installation
    "url": "http://localhost/beacon/",

    // This option chooses the backend to be used
    // Possible options: php, python
    "backend": "php",

    // All PHP related settings
    // These are mostly used by javascript
    "php": {
        // Provide all paths relative to the 'url'

        // The one that handles all of the AJAX requests
        "handler": "index.php",

        // Path to php scripts
        "path": "php/",

        // Path to all javascript
        "scriptpath": "js/",

        // Path to CSS
        "csspath": "css/",

        // Path to all images
        "imagepath": "img/",

        // Path to all plugins
        "pluginpath": "plugins/",

        // Path to store temporary files
        "tmppath": "php/storage/tmp/",

        // Path to i18n
        "i18npath": "i18n/",

        // Path to all HTML
        "htmlpath" : "html/"

    },



    // All Python related settings
    // Please clone the settings name from PHP above
    "python": {

    },



    // List the plugins here that are to be loaded
    "plugins": ["guidexml"],

    // Language to show
    "language": "en_US",

    // Container in which to display Beacon
    "container": "#container",

    // If the document is root or not.
    // This informs Beacon that it is not the "only" item
    // on the page and loads its CSS/Javascript accordingly
    "isRoot": true,

    // Choose a theme. Themes are available on the JQuery Website.
    "theme": "redmond",

    // Method of storage to be used
    // Currently only flatfile is used
    "storage": "flatfile"
}














