#BeaconTabList {
    font-size: 12px;
}

.BeaconSideBar {
    float: right;
    width: 21%;
    overflow: auto;
}

.BeaconSideBar p {
    margin-bottom: 9px;
}

.BeaconAccordion {
    height: 500px;
}

.BeaconFieldSet {
    border: 1px solid #a6c9e2;
    padding: 5px;
    margin-top: 5px;
}

.BeaconContent {
    font: 9pt "Trebuchet MS", sans-serif;
    float: left;
    width: 77%;
    border: 1px solid #a6c9e2;
    overflow: auto;
}

.BeaconToolBarRow {
    height: 30px;
}

.BeaconContent p,ul {
    margin-bottom: 9px;
}

.BeaconContent hr {
    border: none;
    border-bottom: 1px solid #a6c9e2;
    margin: 10px 0px;
}

.BeaconTopBar {
    display: block;
    clear: both;
    margin: 5px 0px 5px 0px;
    height: 30px;
}

.BeaconIframe {
    margin: 0px 7px;
    width: 98%;
    border: 1px solid #a6c9e2;
}

.BeaconSourceView {
    margin: 0px 7px;
    width: 98%;
    border: 1px solid #a6c9e2;
}

ul.BeaconRightToolBar {margin: 0; padding: 0;}
ul.BeaconRightToolBar li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: right;  list-style: none;}
ul.BeaconRightToolBar span.ui-icon {float: left; margin: 0 4px;}

ul.BeaconRightToolBar li:hover { border: 1px solid #79b7e7; background: #d0e5f5; font-weight: bold; color: #1d5987; outline: none; }


a.BeaconButton {
    cursor: pointer;
    padding: 5px;
    display: block;
    margin: 5px 0px;
    border: 1px solid #a6c9e2;
}

a.BeaconButton:hover {
    background-color: #E1EFFB;
}


.BeaconButton:active
{
    background: #9aa4c1;
    border: 1px solid #17357b;
    outline: none;
}

.BeaconToolBar {
    overflow: none;
    margin: 5px;
    padding: 0px;
}

.BeaconToolHolder {
    margin-bottom: 3px;
    height: 23px;
    padding: 5px;
    background: #E1EFFB;
}


.BeaconToolHolder label,input[type="radio"]{
    vertical-align: middle;
}

.BeaconToolButton {
    float: left;
    display: block;
    border: 1px solid #E1EFFB;
    color: #333333;
    text-align: left;
    font: 9pt normal "Trebuchet MS";
    outline: none;
    text-decoration: none;
}

.BeaconToolButton img {
    border: none;
}

.BeaconSeparator {
    float: left;
    display: block;
    margin: 5px 5px 0px 5px;
    width: 3px;
    height: 18px;
    border-left: 1px solid #AAA;
}
.BeaconToolButton:hover {
    background: #a6c9e2;
    border: 1px solid #999;
    cursor: pointer;
    outline: none;
}
