{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Beacon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}site/css/main.css" type="text/css" />
    <!-- Jquery theming -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}beacon/css/redmond/jquery.ui.css" type="text/css" />
</head>

<body>

    <div id="container" class="ui-corner-all">
        <div class="BeaconContent">
            <div style="margin: 10px;">
                <div id="BeaconWelcome" style="text-align: center; margin: 5px;">
                    <img src="{{ MEDIA_URL }}beacon/img/beacon-logo.jpg" alt="Beacon Logo" />
                    <p>{% trans "Welcome to Beacon. A WYSIWYG (and much more!) Editor." %}</p>
                    {% if form.errors %}
                    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}
                </div>
                <hr />
                <p align="right"><b>{% trans "Beacon Version" %}: {{ BEACON_VERSION }}</b></p>
                <p><b>{% trans "Status" %}:</b></p>
		<p><span class="{{ span_class }}">{{ browser_msg }}</span></p>
		<script>
		document.write('<p><span class="ui-state-default">{% trans "Javascript is enabled. OK." %}</span></p>')
		</script>
		<noscript>
		<p><span class="ui-state-error">{% trans "Error: Javascript seems to be disabled!" %}</span></p>
		</noscript>
            </div>
        </div>


        <div class="actions">
            <div id="loginDialog" title="Login">
                <p id="validateTips2">{% trans "All form fields are required." %}</p>
                <form id="loginForm" action="." method="POST">
                    <fieldset>
                        <label for="username">{% trans "Username" %}</label>
                        <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" />
                        <label for="password">{% trans "Password" %}</label>
                        <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
                    </fieldset>
                </form>
            </div>
            <p><button id="login" class="ui-button ui-state-default ui-corner-all">{% trans "Login" %}</button></p>
        </div>
    </div>
    <script src="{{ MEDIA_URL }}beacon/js/jquery.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}beacon/js/jquery.ui.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}site/js/main.js" type="text/javascript"></script>
</body>
</html>
