* /*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
}

body, html {
    color: #000; 
    height: 100%;
    background: url(/examples/rounded-images/left-bg.gif) repeat-y #fff;  /*** This is the left column background "faked" with an image. You can also position the image using left top repeat-y also. The background color #fff (white) will be the background color for our content ***/
}

body 
{
    background:#fff url(../images/body-bg.png) top left repeat;
    font-family:'Helvetica', sans-serif;
    font-size: 81%;
    /*border: 3px solid #000;*/
}

p {
    margin-bottom: 6px;
}

#container {
    width: auto;
    height: 96%;
    /*border: 1px solid #299a29;*/
}

#header {
    height: 44px;
    background: url(../images/editor-header-bg.png) top left repeat-x;
    margin-bottom: 5px;
}

#nav ul {display: inline; list-style: none; margin: 0; padding: 0;}
#nav li {display: inline; float: left; margin: 0;}
#nav li a {display: inline; float: left; height: 44px; margin-right: 30px; cursor: pointer;}
#nav li span {display: none;}

#nav01 a {background: url(../images/editor-new-link.png) top left no-repeat; width: 49px; height: 44px; outline: none;}
#nav01 a:hover {background: url(../images/editor-new-link-hover.png) top left no-repeat; outline: none;}

#nav02 a {background: url(../images/editor-edit-link.png) top left no-repeat; width: 90px; height: 33px; outline: none;}
#nav02 a:hover {background: url(../images/editor-edit-link-hover.png) top left no-repeat; outline: none;}

#content {
    width: auto;
    height: 91%;
}

#left {
    float: left;
    width: 270px;
    height: 99%;
}

#right {
    margin-left: 275px;
    height: 99%;
}

#designview {
    border: 1px solid #6d6d6d;
    width: auto;
    height: 99%;
    margin: 1px;
    background: #F0F0EE;
    
}

.toolbar {

}

.toolholder {
    margin: 1px 3px 1px 3px;
    height: 25px;
    background: #F0F0EE;
}

.iframe {
    border-top: 1px solid #6d6d6d;
    border-bottom: 1px solid #6d6d6d;
    border-right: 0px;
    border-left: 0px;
    width: 100%;
    height: 81%;
}

.statusbar {
    background: #F0F0EE;    
}

.statusbar p {
    padding: 0;
}

#LittleRed {
    width: 99%;
    height: 96%;
}
.editor {
    width: 99%;
    height: 99%;

}

.button,.lbOn
{
    float: left;
    display: block;
    height: 23px;
    border: 1px solid #F0F0EE;
    color: #333333;
    text-align: left;
    font: 9pt normal "Trebuchet MS";
    outline: none;
    text-decoration: none;
}

.separator {
    float: left;
    display: block;
    margin: 3px 5px 0px 5px;
    width: 3px;
    height: 18px;
    border-left: 1px solid #AAA;
}
.button:hover,.lbOn:hover {
    background: #c4c9d9;
	border: 1px solid #17357b;
    cursor: pointer;
    outline: none;
}

.button:active,.lbOn:active
{
    background: #9aa4c1;
	border: 1px solid #17357b;
    outline: none;
}

.lbAction
{
    text-decoration: none;
    border: 3px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding: 0.25em;
    background-color: #FFFFFF;
    /*background: #fff url(../images/go.png) right;*/
    background-repeat: no-repeat;
    color: #333333;
    text-align: left;
    font: 9pt bold "Trebuchet MS";
}

.lbAction:active
{
    border: 3px double #CCCCCC;
    border-top-color: #999999;
    border-left-color: #999999;
}

.spanButton {
    margin-top: 5px;
}

#box p {
    margin: 4px;
}

#tree {

    padding: 10px;
    height: 97%;
    background: #fff;
    padding: 5px;
    border: 3px inset #fff;
    overflow: scroll;
}

#tree p {
    margin: 0; padding: 0;
}

#treeDisplay {
    height: 100%;
    width: 500px;
}

.header{
    border: 2px outset #fff;
    margin-bottom: 5px;
    padding: 3px;
    background: #62a9fb;
}

.treeheader {
    margin-bottom: 5px;
}

#tree .trigger{
    padding-bottom: 3px;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
}

#tree .trigger:hover {
    border: 1px solid #17357b;
}

#tree .branch{
    display: none;
    margin-left: 15px;
}

#tree .leaf{
    margin: 5px;
    cursor: pointer;
}

.form table{
    margin: 15px 5px 0px 5px;
}


.form td{
    padding: 0px 0px 5px 5px;
}

#console {
    padding: 10px;
    height: 97%;
    background: #fff;
    padding: 5px;
    border: 3px inset #fff;
}

#console p {
    margin: 0; padding: 0;
}

#userDisplay {
    padding: 5px;
    height: 40%;
    border: 1px solid #000;
    overflow: scroll;
}

#userDisplay ol{
    list-style: decimal inside
}

#logs {
    padding: 5px;
    height: 35%;
}

.logview {
    width: 100%;
    height: 95%;
}

#textbox {
    padding: 5px;
    height: 70px;
}

.userlist {

}

.username {
    margin: 3px;
    padding: 5px;
    font: 10pt normal 'Helvetica';
    color: #000;
    background: #C3D9FF;
}

#chattext {
    margin: 3px;
    padding: 1px;
    width: 230px;
}
