/* Overlay */
#modalOverlay {background-color:#000;}

/* Container */
#modalContainer {left:50%; top:15%; margin-left:-300px; background-color:#fff; border:3px solid #999;}
#modalContainer a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#modalContainer #basicModalContent {padding:8px;}