* {
    
}


.breaker {
    display: block;
    width: 272px;
    height: 5px;
    background: url(../images/breaker.jpg) top left no-repeat;
}
.newlink {
    display: block;
    width: 270px;
    height: 125px;
    background: url(../images/new-button.png) top left no-repeat;
    cursor: pointer;
}

#initial{
    font: 18pt normal "Helvetica";
    text-align: center;
}

#newform,#editform table{
    margin: 15px 0px 0px 25px;
    font: 10pt normal "Helvetica";
}

.textbox {
    font: 11pt normal "Helvetica";
    margin: 5px 0px 5px 0px;
    border: 1px solid #299a29;
    padding: 3px;
}

.textfield {
    font: 11pt normal "Helvetica";
    margin: 5px 0px 5px 0px;
    border: 1px solid #299a29;
    padding: 3px;
}

.field {
    margin: 5px 0px 5px 0px;
    padding: 3px;
}

#upload_target {
    margin: 0px 0px 0px 25px;
}

#cool {
    text-align: center;
    margin: 10px;
}

.op {
    display: block;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #299a29;
    margin-top: 10px;
}
.gbutton
{
    width: 75px;
    height:35px;
    border: 3px double #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding: 0.25em;
    background-color: #FFFFFF;
    background: #fff url(../images/go.png) right;
    background-repeat: no-repeat;
    color: #333333;
    text-align: left;
    font: 12pt bold "Trebuchet MS";
}

.gbutton:active
{
    border: 3px double #CCCCCC;
    border-top-color: #999999;
    border-left-color: #999999;
}

.error {
    color: #FF1A00;
}

#lpanel
{
    font: 9pt normal "Trebuchet MS";
    border: 1px solid #299a29;
    height: 97%;
    background: #fff;
    padding: 0px 10px 0px 10px;
    margin-left: 3px;
}

#rpanel
{
    border: 1px solid #299a29;
    height: 97%;
    background: #fff;
    margin-right: 3px;
    overflow: scroll;
}

ul{
    list-style:none;
}
