<div class="toolholder">
    <a class="lbOn" id="save" href="{% url save doc_key %}">
        <img src="{{ MEDIA_URL }}img/save.png" border="none" />
    </a>    
    <div class="separator"></div>
    <a id="getSource" class="lbOn" href="{% url ajax-view-source doc_key %}">
            <img src="{{ MEDIA_URL }}img/sourceview.png" border="none" />
    </a>
    <div class="separator"></div>
    <a class="lbOn" href="{% url add-chapter %}">
        <img src="{{ MEDIA_URL }}img/chapter.png" border="none" title="Chapter" />
    </a> 
    <a class="lbOn" href="{% url add-section %}">
        <img src="{{ MEDIA_URL }}img/section.png" border="none" title="Section" />
    </a>
    <div class="separator"></div>
    <a class="button" id="ol" onClick="execute(this, 'ol');" title="Ordered List">
        <img src="{{ MEDIA_URL }}img/ol.png" border="none" />
    </a>
    <a class="button" id="ul" onClick="execute(this, 'ul');" title="Unordered List">
        <img src="{{ MEDIA_URL }}img/ul.png" border="none" />
    </a>
     <div class="separator"></div>
    <a class="button" id="code" onClick="execute(this, 'code');" title="Code Listing">
        <img src="{{ MEDIA_URL }}img/code.png" border="none" />
    </a>
    <div class="separator"></div>
    <a class="button" name="guideNoteValue" title="Note" id="note" onClick="execute(this, 'note');">
        <img src="{{ MEDIA_URL }}img/note.png" border="none" />
    </a>
    <a class="button" name="guideImpoValue" title="Important" id="impo" onClick="execute(this, 'impo');">
        <img src="{{ MEDIA_URL }}img/impo.png" border="none" />
    </a>
    <a class="button" name="guideWarnValue" title="Warning" id="warn" onClick="execute(this, 'warn');">
        <img src="{{ MEDIA_URL }}img/warn.png" border="none" />
    </a>
    <div class="separator"></div>
    <a class="button" id="paragraph" onClick="execute(this, 'paragraph');" title="Paragraph">
        <img src="{{ MEDIA_URL }}img/paragraph.png" border="none" />
    </a>
    <a class="button" id="paragraph" onClick="execute(this, 'epigraph');" title="Paragraph">
        <img src="{{ MEDIA_URL }}img/epi.png" border="none" />
    </a>
    <div class="separator"></div>
    <a class="lbOn" href="{% url add-author %}" title="Add An Author">
        <img src="{{ MEDIA_URL }}img/authors.png" border="none" />
    </a>
    <div class="separator"></div>
    <a class="button" id="delete" onClick="deleteNode();" title="Delete Current Node">
        <img src="{{ MEDIA_URL }}img/cancel.png" border="none" />
    </a>
</div>
<div class="toolholder">
    <a class="button" id="bold" onClick="addSpan('guideBold', 'boldtext');" title="Bold">
        <img src="{{ MEDIA_URL }}img/bold.png" border="none" />
    </a>
    <a class="button" id="italic" onClick="addSpan('guideEm', 'emphasis');" title="Italic">
        <img src="{{ MEDIA_URL }}img/italic.png" border="none" />
    </a>
    <div class="separator"></div>
    <a class="button" id="subscript" onClick="addSpan('guideSub', 'subspan');" title="Subscript">
        <img src="{{ MEDIA_URL }}img/sub.png" border="none" />
    </a>    
    <a class="button" id="superscript" onClick="addSpan('guideSup', 'supspan');" title="Superscript">
        <img src="{{ MEDIA_URL }}img/sup.png" border="none" />
    </a>
    <div class="separator"></div>
     <a id="addLink" class="lbOn" href="{% url add-link %}" title="Link">
            <img src="{{ MEDIA_URL }}img/link.png" border="none" />
    </a>
    <a class="button" id="unlink" onClick="removeLink()" title="Unlink">
        <img src="{{ MEDIA_URL }}img/unlink.png" border="none" />
    </a>
    <div class="separator"></div>
    <a class="button" onClick="addSpan('guideCodePath', 'path', 'ltr');" title="Add &lt;path&gt;">
        <img src="{{ MEDIA_URL }}img/path.png" border="none" />
    </a>
    <a class="button" onClick="addSpan('guideCode', 'code', 'ltr');" title="Highlight as Code">
        <img src="{{ MEDIA_URL }}img/code-highlight.png" border="none" />
    </a>
    <a class="button" onClick="addSpan('guideCodeInput', 'code-input');" title="Highlight as Input">
        <img src="{{ MEDIA_URL }}img/input.png" border="none" />
    </a>
    <a class="button" onClick="addSpan('guideComment', 'code-comment');" title="Highlight as Comment">
        <img src="{{ MEDIA_URL }}img/comment.png" border="none" />
    </a>
    <a class="button" onClick="addSpan('guideIdentifier','code-identifier');" title="Highlight as Identifier">
        <img src="{{ MEDIA_URL }}img/ident.png" border="none" />
    </a>
     <a class="button" onClick="addSpan('guideKeyword', 'code-keyword');" title="Highlight as Keyword">
         <img src="{{ MEDIA_URL }}img/keyword.png" border="none" />
    </a>
     <a class="button" onClick="addSpan('guideConstant', 'code-constant');" title="Highlight as Constant">
         <img src="{{ MEDIA_URL }}img/const.png" border="none" />
    </a>
     <a class="button" onClick="addSpan('guideStatement', 'code-statement');" title="Highlight as Statement">
         <img src="{{ MEDIA_URL }}img/stmt.png" border="none" />
    </a>
     <a class="button" onClick="addSpan('guideVariable', 'code-variable');" title="Highlight as Variable">
         <img src="{{ MEDIA_URL }}img/variable.png" border="none" />
    </a>
    <div class="separator"></div>
     <a class="button" onClick="clearFormat();" title="Remove All Formatting">
         <img src="{{ MEDIA_URL }}img/clear.png" border="none" />
    </a>
</div>
