{% load i18n %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE body SYSTEM "http://example.com/dtd.dtd">
<style type="text/css" media="all">@import "{{ MEDIA_URL }}css/editor/guide.css";</style>
<body><div style="margin: 5px;" id="guide" link="">
<div id="sideContent">
<hr/>
<div title="guideDate" class="alttext" align="center">{% trans "Updated" %} <div title="guideDateValue">{{ document.date }}</div>
</div>
<hr/>
<div title="guideAbstract" class="alttext">
<b>{% trans "Summary" %}: </b><div title="guideAbstractValue">
{{ document.abstract }}
</div>
</div>
<hr/>
{% for author in document.author_set.all %}
{% include "editor/docoutput/author_html.html" %}
{% endfor %}
<span id="authorBreak"></span><hr/>
<div title="guideVersion" class="version">{{ document.version }}</div>
</div>
<div id="mainContent">
<h1 title="guideTitle" id="doc_chap0">{{ document.title }}</h1>
{% for chapter in document.chapter_set.all %}
{% include "editor/docoutput/chapter_html.html" %}
{% endfor %}
</div>
</div>
</body>
